.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(78, 67, 49, 0.2);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d6d3d1;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a8a29e;
}

.custom-range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #d6d3d1; /* stone-400 */
  cursor: pointer;
  margin-top: -6px;
}

.custom-range-input::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background: #d6d3d1; /* stone-400 */
  cursor: pointer;
}


:root {
  font-family: "Goudy Bookletter 1911", Helvetica, serif;
}
